page-teacher-add-course {
  .in{
    border-style: solid;
    border-width: 2px ;
    border-radius: 3px;
    border-color: #c8c7cc;
    width: 100%;
    padding-left: 8px;
    background-color: #ffffff;
    margin-bottom: 15px;
  }

}
