<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>找回密码</ion-title>
  </ion-navbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div>
    <ion-slides #registerSlides>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <p>邮箱/手机号</p>
          </ion-row>
          <ion-row>
            <div class="in">
              <ion-input name="phone" type="number" placeholder="请输入您的手机号码" required  pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\\d{8}$" [(ngModel)]="forget.phone" #phone="ngModel">
              </ion-input>
            </div>
            <ion-note float-start *ngIf="phone.invalid && phone.touched" [hidden]="!phone.errors?.required" style="color: red;font-size: small">请输入手机号码</ion-note>
            <ion-note float-start *ngIf="phone.invalid && phone.touched" [hidden]="!phone.errors?.pattern" style="color: red;font-size: small">您输入的手机号格式不正确</ion-note>

          </ion-row>
          <ion-row>
            <button type="submit" ion-button block color="primary" parmary  (click)="checkPhone()" [disabled]="phone.invalid">提交</button>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div style="border-color: #488aff;border-style: solid;border-width:1px;">
                <ion-input name="code" type="number" placeholder="请输入验证码" required [(ngModel)]="forget.code" #code="ngModel" ></ion-input>
              </div>
            </ion-col>

            <ion-col>
              <button ion-button color="primary" block parmary (click)="send()" [disabled]="boolSend">{{textSend}}</button>
            </ion-col>

          </ion-row>

          <ion-row>
            <button type="submit" ion-button block color="primary" parmary [disabled]="code.invalid" (click)="validateCode()" >下一步</button>
          </ion-row>

          <ion-row>
            <button type="submit" ion-button block color="primary" parmary  (click)="previous()" >上一步</button>
          </ion-row>
        </ion-grid>

      </ion-slide>

      <ion-slide>
        <form #messageForm="ngForm">

          <div>
            <ion-item>
              <ion-input name="password" type="password" placeholder="请输入登录密码" required [(ngModel)]="forget.password" #password="ngModel" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$"></ion-input>
            </ion-item>
            <ion-note float-start *ngIf="password.invalid && password.touched" [hidden]="!password.errors?.required" style="color: red;font-size: small">请输入登录密码</ion-note>
            <ion-note float-start *ngIf="password.invalid && password.touched" [hidden]="!password.errors?.pattern" style="color: red;font-size: small">您输入的登录密码格式不正确</ion-note>

            <ion-item>
              <ion-input name="confirmPassword" type="password" block placeholder="请输入确认密码" required [(ngModel)]="forget.confirmPassword" #confirmPassword="ngModel" ></ion-input>
            </ion-item>

            <ion-note float-start *ngIf="confirmPassword.touched&&!showMes()" [hidden]="!confirmPassword.errors?.required" style="color: red;font-size: small">请输入登录密码</ion-note>
            <ion-note float-start *ngIf="confirmPassword.touched&&!showMes()" [hidden]="showMes()||confirmPassword.errors?.required" style="color: red;font-size: small">确认密码不正确</ion-note>

            <button type="submit" ion-button block color="primary" parmary (click)="storagePas()" [disabled]="password.invalid||confirmPassword.invalid||forget.confirmPassword!=forget.password">下一步</button>
            <button type="submit" ion-button block color="primary" parmary  (click)="previous()">上一步</button>
          </div>

        </form>
      </ion-slide>

      <ion-slide>
      <span>
        修改成功!
      </span>

        <button type="submit" ion-button block color="primary" parmary  (click)="goHome()">回到首页</button>

      </ion-slide>


    </ion-slides>

  </div>


</ion-content>
