BODY {
	FONT-SIZE: 14pt; CURSOR: default; FONT-WEIGHT: bold; COLOR: black
}
P {
	FONT-SIZE: 14pt; CURSOR: default; FONT-WEIGHT: bold; COLOR: black
}
TD {
	FONT-SIZE: 14pt; CURSOR: default; FONT-WEIGHT: bold; COLOR: black
}
TH {
	FONT-SIZE: 14pt; CURSOR: default; FONT-WEIGHT: bold; COLOR: black
}
TR {
	FONT-SIZE: 14pt; CURSOR: default; FONT-WEIGHT: bold; COLOR: black
}
INPUT {
	FONT-SIZE: 14pt; CURSOR: default; FONT-WEIGHT: bold; COLOR: black
}
TEXTAREA {
	FONT-SIZE: 14pt; CURSOR: default; FONT-WEIGHT: bold; COLOR: black
}
SELECT {
	FONT-SIZE: 14pt; CURSOR: default; FONT-WEIGHT: bold; COLOR: black
}
A {
	TEXT-DECORATION: none; COLOR: navy
}
A:hover {
	TEXT-DECORATION: underline; COLOR: red
}
INPUT {
	CURSOR: default; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; COLOR: #4f4f4f; BORDER-LEFT: #999999 1px solid; BACKGROUND-COLOR: #efefef
}
TEXTAREA {
	CURSOR: default; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; COLOR: #4f4f4f; BORDER-LEFT: #999999 1px solid; BACKGROUND-COLOR: #efefef
}
SELECT {
	CURSOR: default; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; COLOR: #4f4f4f; BORDER-LEFT: #999999 1px solid; BACKGROUND-COLOR: #efefef
}
BODY {
	SCROLLBAR-HIGHLIGHT-COLOR: #e1e1e1; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-FACE-COLOR: #e1e1e1; SCROLLBAR-BASE-COLOR: #efefef; SCROLLBAR-ARROW-COLOR: #8c8c8d; SCROLLBAR-SHADOW-COLOR: #8c8c8d; SCROLLBAR-DARKSHADOW-COLOR: #efefef
}
TEXTAREA {
	SCROLLBAR-HIGHLIGHT-COLOR: #e1e1e1; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-FACE-COLOR: #e1e1e1; SCROLLBAR-BASE-COLOR: #efefef; SCROLLBAR-ARROW-COLOR: #8c8c8d; SCROLLBAR-SHADOW-COLOR: #8c8c8d; SCROLLBAR-DARKSHADOW-COLOR: #efefef
}
.shadow {
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1,positive=1)
}
.white {
	FILTER: dropshadow(color=#FFFFFF,offx=1,offy=1,positive=1)
}
